Cython==0.21
Flask==0.10.1
Flask-Assets==0.7
Flask-Bootstrap==3.0.3.1
Flask-HTTPAuth==2.2.0
Flask-KVSession==0.6.1
Flask-Login==0.2.7
Flask-Mail==0.9.0
Flask-Migrate==1.1.0
Flask-Moment==0.2.1
Flask-OAuth==0.12
Flask-PageDown==0.1.4
Flask-Principal==0.4.0
Flask-SQLAlchemy==1.0
Flask-Script==0.6.6
Flask-Security==1.6.9
Flask-Social==1.6.2
Flask-WTF==0.9.4
ForgeryPy==0.1
Jinja2==2.7.1
Mako==1.2.2
Markdown==2.3.1
MarkupSafe==0.18
MySQL-python==1.2.3
Pillow==2.6.0
PyBrain==0.3
PyPDF2==1.23
PyYAML==3.10
SQLAlchemy==0.9.8
SQLAlchemy-Utils==0.27.8
Unidecode==0.04.16
WTForms==1.0.5
Werkzeug==0.9.4
alembic==0.6.2
argparse==1.2.1
bleach==1.4
blinker==1.3
chardet==1.0.1
colorama==0.2.5
coverage==3.7.1
cssmin==0.1.4
cssselect==0.9.1
decorator==3.4.0
defusedxml==0.4.1
docx==0.2.4
facebook-sdk==0.3.1
flask-peewee==0.6.5
fpconst==0.7.2
gevent==1.0.1
greenlet==0.4.5
grequests==0.2.0
gunicorn==0.14.6
html5lib==0.999
httpie==0.7.2
httplib2==0.9
ipaddr==2.1.11
jsmin==2.0.2
lockfile==0.9.1
lxml==3.3.3
matplotlib==1.3.1
oauth2==1.5.211
oauth2client==1.1
oauthlib==0.6.0
pandas==0.14.1
paramiko==1.15.1
patsy==0.3.0
pdfminer==20140328
peewee==2.3.0
pexpect==3.1
piston-mini-client==0.7.5
pyOpenSSL==0.13
pyPdf==1.13
pycrypto==2.6.1
pycurl==7.19.3
pygobject==3.12.0
pygsr==0.1
pyparsing==2.0.2
pyserial==2.6
requests==2.2.1
requests-oauthlib==0.4.0
scikit-image==0.10.1
scikit-learn==0.15.1
scipy==0.14.0
selenium==2.43.0
sessioninstaller==0.0.0
simplegeneric==0.8.1
simplejson==3.3.1
statsmodels==0.5.0
syncano==0.6.2
textblob==0.8.4
urllib3==1.7.1
